@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*,
::after,
::before {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Montserrat";
}

body {
   line-height: 1.5;
}

/* header */
.container-header {
   width: 90%;
   margin: auto;
}

header {
   width: 100%;
   height: 6vh;
   line-height: 6vh;
   background-color: #f1f1f1;
}

.main-nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
}

.logo {
   flex: 1;
   color: #010101;
   text-decoration: none;
   font-size: 22px;
   font-weight: bold;
}

.main-menu {
   flex: 1;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0px;
}

.main-menu li {
   list-style: none;
   position: relative;
}

.main-menu li::before {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 3px;
   line-height: 6vh;
   background: #010101;
   border-radius: 5px;
   transform: scale(0);
   transform-origin: left;
   transition: .4s linear;
}

.main-menu li:hover::before {
   transform: scale(1);
   transform-origin: right;
}

.main-menu li a {
   text-decoration: none;
   color: #010101;
   font-size: 12px;
   font-weight: bold;
   text-transform: uppercase;
}

/* Mobile */
@media screen and (max-width: 850px) {
   .line {
      width: 25px;
      height: 3px;
      background: #000;
      margin: 4px;
      border-radius: 50px;
   }

   .hamburger {
      position: absolute;
      cursor: pointer;
      right: 5%;
      outline: none;
   }

   .container-header {
      width: 100%;
   }

   .logo,
   .hamburger {
      margin: 0px 20px;
   }

   .main-menu {
      position: fixed;
      top: 6vh;
      height: 100vh;
      width: 100%;
      background: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      clip-path: circle(100px at 90% -20%);
      -webkit-clip-path: circle(100px at 90% -20%);
      transition: all 1s ease-out;
      padding-bottom: 40vh;
      pointer-events: none;
      opacity: .7;
   }

   .main-menu li::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      line-height: 6vh;
      background: #fff;
      border-radius: 5px;
      transform: scale(0);
      transform-origin: left;
      transition: .4s linear;
   }

   .main-menu li {
      margin: 15px 0;
      z-index: 22;
   }

   .main-menu li a {
      color: #fff;
      z-index: 999;
   }

   .main-menu.open {
      pointer-events: all;
      clip-path: circle(800px at 90% -20%);
      -webkit-clip-path: circle(800px at 90% -20%);
   }
}